/**
1. Краще не навішувати CSS правила на самі теги. Якщо є можливіть - краще привласнювати класи і навішувати стилі вже на класи.
2. роби відступ між тегом і фігурною дужкою, для більш зручної читаємості коду:

Приклад:

.my-class {
    transition: opacity .5s;
}
*/

body{
    margin: 15px;
    link:#6AEE98;
    background: #ABBABE;
}

img{
    border-radius: 50%;
}
img:hover{
    opacity: 0.5;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-block{
    text-align: center;
    width: calc(100% * (1/3));
}
